[submodule "arm/lib/Adafruit_10DOF"]
	path = arm/lib/Adafruit_10DOF
	url = git@github.com:adafruit/Adafruit_10DOF.git
[submodule "arm/lib/Adafruit_BMP085_Unified"]
	path = arm/lib/Adafruit_BMP085_Unified
	url = git@github.com:adafruit/Adafruit_BMP085_Unified.git
[submodule "arm/lib/Adafruit_L3GD20_U"]
	path = arm/lib/Adafruit_L3GD20_U
	url = git@github.com:adafruit/Adafruit_L3GD20_U.git
[submodule "arm/lib/Adafruit_LSM303DLHC"]
	path = arm/lib/Adafruit_LSM303DLHC
	url = git@github.com:adafruit/Adafruit_LSM303DLHC.git
[submodule "arm/lib/Adafruit_Sensor"]
	path = arm/lib/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git
[submodule "arm/lib/Adafruit-GPS-Library"]
	path = arm/lib/Adafruit-GPS-Library
	url = git@github.com:adafruit/Adafruit-GPS-Library.git
[submodule "android/usb-serial-for-android"]
	path = android/usb-serial-for-android
	url = git@github.com:mik3y/usb-serial-for-android.git
